body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

table {
    border-collapse: collapse;
    border: solid 0.2rem;
    width: 100%;
    max-width: 35rem;
}

thead {
    background-color: #efefef
}

th {
    padding: 0.1rem 0.2rem;
    border: solid 0.1rem;
    font-size: 1rem;
}

/*.extra-header-table thead tr:nth-child(1) {
    background-color: white;
}

.extra-header-table thead tr:nth-child(1) th {
    border: hidden;
    border-bottom: solid 0.1rem;
}*/

.extra-header-table tbody tr th:nth-last-child(1)
{
    white-space: nowrap;
    text-align: left;
}

.extra-header-table thead tr th:nth-last-child(1) {
    white-space: nowrap;
    text-align: left;
}

.extra-header-table tbody tr th:nth-last-child(2) {
    white-space: nowrap;
}

.dist-tables table {
    background-color: honeydew;
}

.dist-tables td, .dist-tables th {
    padding: 0.1rem 0.2rem;
    border: solid 0.1rem;
    font-size: 0.9rem;
    white-space: nowrap;
}

.dist-tables tr th:nth-child(1) {
    white-space: normal;
}

.curr_status {
    font-size: 0.7rem;
    font-weight: 300;
}

.fkq {
    color: #ff8d8d;
}

.gkq {
    color: #eeab65;
}

.ffq {
    color: #4adc4a;
}

.table-content {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
