<link rel="stylesheet" type="text/css" href="{{ url_prefix }}/resources/dist.css">

<div class="table-content flex-float flex-vertical dist-tables">
<div class="table-sec" id="comm-table">
    <h2>各区感染小区数统计（单位：小区）</h2>
    <div class="notice">*复阳：今日报告的阳性小区中，前10日无阳性报告的小区总数</div>
    <div>
        {{ infect_table|safe }}
    </div>
</div>
<div class="table-sec" id="pp-table">
    <h2>各区确诊和无症状人数统计（单位：人）</h2>
    <div>
        {{ cnt_table|safe }}
    </div>
</div>
<div class="table-sec" id="gj-table">
    <h2>最近14天阳性次数最多小区</h2>
    <div class="notice">*会不会成为要“攻”的“坚”呢，各位小心应对</div>
    <div>
        {{ gj_table|safe }}
    </div>
</div>
