<div class="search">
    <label type="text" for="address">输入查询地址：</label>
        <input class="addr-input" id="address" name="address" required autocomplete="address" autofocus type="text" placeholder="例：山阴路"/>
    <div>
        <div class="update-date">数据更新到：<a href="{{ relative_to_root }}/dist/">{{ update_date }}</a></div>
    </div>
    <div class="single-line-outer">
        <button id="search" class="single-line-center">查询</button>
        <button id="long-search" class="single-line-float">收藏页</button>
    </div>
</div>
<script src="{{ url_prefix }}/resources/search.js"></script>