<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link rel="stylesheet" type="text/css" href="/static/table.css">
        <link rel="stylesheet" type="text/css" href="/static/iframe.css">
    </head>
    <body class="wide-body">
        <div class="table-content flex-vertical extra-header-table">
            {{ table_content|safe }}
        </div>
        <script src="/static/styling.js" table-body-path="/html/body/div/table/tbody"></script>
    </body>
</html>